@keyframes animation-underline {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 1rem);
  }
}

.motion-underline {
  position: relative;
}

.motion-underline::after {
  content: ' ';
  position: absolute;
  bottom: 8px;
  height: 2px;
  background: white;
}

.motion-underline:hover::before {
  /* content: '';
  position: absolute;
  bottom: 2px;
  height: 6px;
  width: calc(100% - 1rem);
  filter: blur(4px);
  background: var(--purple-400); */
  content: '';
  position: absolute;
  bottom: 2px;
  height: 6px;
  width: calc(100% - 1rem);
  filter: blur(4px);
  background: var(--purple-500);
}

.motion-underline-active::after {
  animation-name: animation-underline;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
